* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(3, 47, 55, 0.8);
    background-size: auto;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.text-area {
    width: 900px;
    height: 200px;
    margin-bottom: 30px;
    margin-top: 60px;
    font-size: 18px;
    color: rgba(5, 125, 133, 1);
}

.list-of-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    width: 930px;
    background-color: rgba(10, 151, 179, 0.8);
    padding: 15px;
    border-radius: 5px;
    flex-wrap: wrap;
}

.key-board-item {
    list-style: none;
}

.key-board-button {
    background-color: rgba(19, 191, 226, 1);
    font-size: 15px;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid rgba(3, 47, 55, 1);
}

.key-board-button:hover {
    background-color: rgba(47, 210, 153, 1);
}

.upper-item {
    margin-left: 5px;
}

.button-space {
    width: 440px;
}

.button-blue-color {
    background-color: rgba(5, 125, 133, 1);
    border-radius: 20px;
}

.caps-lock, .enter {
    width: 140px;
}

.right-shift {
    width: 50px;
}

.left-shift {
    width: 200px;
}

.back-space {
    width: 150px;
}

.tab {
    width: 100px;
}

.description-system {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(19, 191, 226, 1);
}

.description-language {
    font-size: 22px;
    color: rgba(19, 191, 226, 1);
}